:root{
  --rojo: #be2828;
  --verde: #28be28;
}



.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main{
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}
button:first-of-type:hover{
  color:beige;
}

.myInput{ 
 box-shadow: 0 0 0 2px transparent;
}
.okInput:hover, .okInput:focus{
  box-shadow: 0 0 0 2px var(--verde);
}
.errorInput:hover, .errorInput:focus{
  box-shadow: 0 0 0 2px var(--rojo);
}

.rojo {
 color: var(--rojo);
}

.pelis{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2rem;
}
.peli{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.peli h3{
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
.peli img{
  width: 100%;
  height: auto;
  border-radius: 8px;
}